/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */
//  / {
// 	chosen {
// 		ncs,slm-uart = &uart2;
// 	};
// };

&uart2 {
	current-speed = <115200>;
	status = "okay";
	pinctrl-0 = <&uart2_default_alt>; /* <&interface_to_nrf52840 1 0> */
	pinctrl-1 = <&uart2_sleep_alt>; /* <&interface_to_nrf52840 0 0> */
	pinctrl-names = "default", "sleep";
};

&pinctrl {
	uart2_default_alt: uart2_default_alt {
		group1 {
			psels = <NRF_PSEL(UART_RX, 0, 17)>,
				<NRF_PSEL(UART_TX, 0, 18)>;
		};
	};

	uart2_sleep_alt: uart2_sleep_alt {
		group1 {
			psels = <NRF_PSEL(UART_RX, 0, 17)>,
				<NRF_PSEL(UART_TX, 0, 18)>;
			low-power-enable;
		};
	};
};






//  / {
// 	sensor_sim: sensor-sim {
// 		compatible = "nordic,sensor-sim";
// 		status = "okay";
// 		acc-signal = "wave";
// 	};

// 	measure {
// 		compatible = "nordic,nrf-pinctrl";
// 		en {
// 			compatible = "gpio-leds";
// 			measure_en: measure_en {
// 				gpios = <&gpio0 16 0x0>;
// 				label = "measure_en";
// 			};
// 		};
// 		signal {
// 			compatible = "gpio-keys";
// 			signal1: signal_1 {
// 				// gpios = <&gpio0 13 0x1>;			//for 9160DK
// 				gpios = <&gpio0 6 0x1>;				//for 9151dk
// 				label = "signal_1";
// 			};
// 			signal2: signal_2 {
// 				// gpios = <&gpio0 15 0x1>;			//for 9160DK
// 				gpios = <&gpio0 7 0x1>;				//for 9151dk
// 				label = "signal_2";
// 			};
// 		};
// 	};
// };


// &gpio0 {
// 	status = "okay";
// 	sense-edge-mask = < 0x4040 >;
//  };



// &led0 {
// 	gpios = <&gpio0 2 0>;
// };



// &uart2 {
// 	current-speed = <1000000>;
// 	status = "okay";
// 	pinctrl-0 = <&uart2_default_alt>; /* <&interface_to_nrf52840 1 0> */
// 	pinctrl-1 = <&uart2_sleep_alt>; /* <&interface_to_nrf52840 0 0> */
// 	pinctrl-names = "default", "sleep";

// 	lpuart: nrf-sw-lpuart {
// 		compatible = "nordic,nrf-sw-lpuart";
// 		status = "okay";
// 		req-pin = <21>; /* <&interface_to_nrf52840 3 0>; */
// 		rdy-pin = <19>; /* <&interface_to_nrf52840 2 0>; */
// 	};
// };

// &pinctrl {
// 	uart2_default_alt: uart2_default_alt {
// 		group1 {
// 			psels = <NRF_PSEL(UART_RX, 0, 17)>,
// 				<NRF_PSEL(UART_TX, 0, 18)>;
// 		};
// 	};

// 	uart2_sleep_alt: uart2_sleep_alt {
// 		group1 {
// 			psels = <NRF_PSEL(UART_RX, 0, 17)>,
// 				<NRF_PSEL(UART_TX, 0, 18)>;
// 			low-power-enable;
// 		};
// 	};
// };








/* External flash device is disabled by default */
&gd25wb256 {
	status = "okay";
};
